# Test File

Here is a test file to show some R code if I can....and where it saves.

In [46]:
print("hello!")
rm(list=ls())

[1] "hello!"

In [26]:
suppressMessages(library(ggplot2))

In [30]:
setwd("C:/Users/foremabo/Git/TestProject/Data")

In [32]:
data<-read.csv("Flowsheet Measures Summary n4272.csv", header=TRUE, na.strings="NA")

In [33]:
head(data)

  measure                              n
1 PULSE OXIMETRY                       699238
2 PULSE                                679457
3 RESPIRATIONS                         648822
4 BLOOD PRESSURE                       602722
5 R MAP                                516730
6 R CPN GLASGOW COMA SCALE EYE OPENING 443565

In [47]:
str(data)

function (..., list = character(), package = NULL, lib.loc = NULL, verbose = getOption("verbose"),
    envir = .GlobalEnv, overwrite = TRUE)

In [35]:
ls()

[1] "data"

In [36]:
summary(data)

   measure                n
 Length:697         Min.   :     1
 Class :character   1st Qu.:    63
 Mode  :character   Median :  1238
                    Mean   : 23384
                    3rd Qu.: 13489
                    Max.   :699238

In [44]:
list=ls()
list

[1] "data" "list"